body{
    background-color: rgb(234, 207, 208);
}

h1{
    color: white;
    text-align: center;
    font-size: 120px;
    font-family: 'Sacramento', cursive; 
    font-weight: bold;
    text-shadow: rosybrown 12px 12px ;
    background-color: rgb(234, 207, 208);
    margin-left: 25%;
    margin-right: 25%;
    margin: auto;
    margin-top: 4% ;
  
}

h4{
    text-align: center;
    margin-bottom: 7%;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
}

 nav{
    background-color: white;
    font-size: 1rem;
    box-shadow:lightgray 5px 5px;
} 

.navbar-nav{
    /* text-align: center; */
    margin-left: 25%;
    margin-right: 25%;
    margin: auto;
}

 nav li{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 25px; 
} 

a:hover{
    color:lightgray;
}

.header li:hover{
    background:rgba(234, 207, 208,.2);
    color: white;
    font-size: 3rem;
    border-radius: 5px; 
    padding: 0px 20px;
}

main .container{
    /* margin: 30px 70px; */
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 60px;
    box-shadow: lightgrey 39px 36px;
    margin-left: 25%;
    margin-right: 25%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 10%;
}

.personalpic{
    margin-left: 35%;
    margin-right: 35%;

}
.aboutp{
font-family: 'Sacramento', cursive; 
margin-left: 40%;
margin-right: 40%;
margin-bottom: -1%;
font-size: 3rem;
}

h2{
    text-align:center; 
    font-size: 4rem;
    /* display: inline; */
    font-family: 'Sacramento', cursive; 
    /* margin-left: 35%;
    margin-right: 35%; */
    /* margin-bottom: 10%; */
   
}

.images{
    background-color: transparent;
    border-left: rgb(234, 207, 208) solid 5px;
    margin: 7px 23px;
    padding: 0px 10px;

}

.gridSection h3{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    background-color: gray;
}
.gridSection p{ 
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color:rgba(255, 255, 255, .6);
    font-size: 20px; 
    margin-top: 40%;
}
/* 
.gridSection:hover{
    zoom: 30%;
    display:block; 
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
} */

.grid-item1{
    background-image:url("https://images.unsplash.com/photo-1549782680-6c0bc6c40c90?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=692&q=80");
    background-size: 550px;
    background-repeat: no-repeat;
    border:lightgray 5px solid; 
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 190%;
    height: 300px;
    margin: 0%;
    margin-bottom: 5%;
    padding: 0%;
    margin-left: -40%;
}

/* Image for the 2nd Grid section  */

.grid-item2{
    background-image:url("https://images.unsplash.com/photo-1560131930-485758fc17b7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: 550px;
    background-repeat: no-repeat;
    border:lightgray 5px solid; 
    /* display: flex;
    flex-wrap: wrap; */
    width: 190%;
    height: 300px;
    margin: 0%;
    padding: 0%;
    margin-left: -40%;
}

/* Image for the 3rd Grid section  */

.grid-item3{
    background-image:url("https://images.unsplash.com/photo-1597435877852-97c68cc4d8da?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
    background-size: 550px;
    background-repeat: no-repeat;
    border:lightgray 5px solid; 
    /* display: flex;
    flex-wrap: wrap; */
    width: 190%;
    height: 300px;
    margin: 0%;
    margin-bottom: 5%;
    padding: 0%;
    margin-left: -40%;
}

.grid-item4{
    background-image:url("https://images.unsplash.com/photo-1518611507436-f9221403cca2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1825&q=80");
    background-size: 550px;
    background-repeat: no-repeat;
    border:lightgray 5px solid; 
    /* display: flex;
    flex-wrap: wrap; */
    width: 190%;
    height: 300px;
    margin: 0%;
    padding: 0%;
    margin-left: -40%;
    
}

.col-8{
    width: 100%;
}

.container .headers{
    border-right: 3px solid rgb(234, 207, 208);
}

.row{
    margin: 0% 10%;
    
}

.justify-content-center{
    /* text-align: center; */
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0%;
}

h5{
    font-family: 'Sacramento', cursive; 
    font-size: 2rem;
    padding: 1% 0%;
    

}

/* .nav-link{
padding: 1% 0%;
margin: 0% 0%;
} */

footer a{
    text-decoration: none;
    color:black;
} 

footer .container-fluid{

    margin-bottom: -1%;
    padding: 0%;
    margin-left: 20%;
    margin-right: 10%;
    text-align: center;
    
}

.projects{
    margin-bottom: 20%;
}